* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Raleway', 'sans-serif';
}


:root {
  --stopwatch-primary-color: #033f63;
  --stopwatch-primary-shade: #05639e;
  --stopwatch-secondary-color: #e5a78a;
  --stopwatch-secondary-shade: #f0cdbc;
  --stopwatch-light-color: #e9f1f7;
  --body-background-color: #93d7fc;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--body-background-color);
}

#stopwatch-display {
  font-family: 'Major Mono Display', 'Orbitron';
  background-color: #000000;
  color: #ffffff;

}



